<ion-header>
  <ion-toolbar>
    <ion-title>toolbars</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-title>Header Toolbar</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-header>
    
    <ion-toolbar>
      <ion-searchbar></ion-searchbar>
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
    </ion-toolbar>
  </ion-header>

  <ion-header>
    <ion-toolbar>
      <ion-segment value="all">
        <ion-segment-button value="all">
          All
        </ion-segment-button>
        <ion-segment-button value="favorites">
          Favorites
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>
        
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        Start
      </ion-button>
    </ion-buttons>
    
    <ion-buttons slot="end">
      <ion-button>
        End
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
  
  
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
  
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button fill="solid">
        <ion-icon slot="start" name="person-circle"></ion-icon>
        Contact
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button fill="solid">
        Help
        <ion-icon slot="end" name="help-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
  
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button fill="outline">
        <ion-icon slot="start" name="star"></ion-icon>
        Star
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button fill="outline">
        Edit
        <ion-icon slot="end" name="create"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>

  <ion-toolbar>
    <ion-title>Default Toolbar</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-title>Primary Toolbar</ion-title>
  </ion-toolbar>
  <ion-toolbar color="secondary">
    <ion-title>Secondary Toolbar</ion-title>
  </ion-toolbar>
  <ion-toolbar color="tertiary">
    <ion-title>Tertiary Toolbar</ion-title>
  </ion-toolbar>
  <ion-toolbar color="success">
    <ion-title>Success Toolbar</ion-title>
  </ion-toolbar>
  <ion-toolbar color="warning">
    <ion-title>Warning Toolbar</ion-title>
  </ion-toolbar>
  <ion-toolbar color="danger">
    <ion-title>Danger Toolbar</ion-title>
  </ion-toolbar>
  <ion-toolbar color="light">
    <ion-title>Light Toolbar</ion-title>
  </ion-toolbar>
  <ion-toolbar color="medium">
    <ion-title>Medium Toolbar</ion-title>
  </ion-toolbar>
  <ion-toolbar color="dark">
    <ion-title>Dark Toolbar</ion-title>
  </ion-toolbar>


  

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer Toolbar</ion-title>
  </ion-toolbar>
</ion-footer>
