<ion-header>
  <ion-toolbar>
    <ion-title> botones avanzados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>&nbsp; <b><u>1. TOGGLE</u></b></h1>
  
    
    <ion-toggle color="warning" [checked]="true"></ion-toggle>               <ion-toggle [enableOnOffLabels]="true"></ion-toggle>
  
  <h1>&nbsp; <b><u>2. CHECKBOX</u></b></h1>
  
  <p><ion-item>
    <ion-checkbox slot="start"></ion-checkbox>
    <ion-label>I agree to the terms and conditions</ion-label>
  </ion-item> </p>
  <p><ion-item>
    <ion-checkbox slot="start" [indeterminate]="true"></ion-checkbox>
    <ion-label>Indeterminate checkbox</ion-label>
  </ion-item></p>
  <h1>&nbsp; <b><u>3. SELECT</u></b></h1>
  
  <p><ion-list>
    <ion-item>
      <ion-select placeholder="Select fruit">
        <ion-select-option value="apples">Apples</ion-select-option>
        <ion-select-option value="oranges">Oranges</ion-select-option>
        <ion-select-option value="bananas">Bananas</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list></p>
  <h1>&nbsp; <b><u>4. RADIO</u></b></h1>
  
  <p><ion-list>
    
    <ion-radio-group [allowEmptySelection]="true" value="turtles">
      
      <ion-item>
        <ion-label>Dogs</ion-label>
        <ion-radio slot="end" value="dogs"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Cats</ion-label>
        <ion-radio slot="end" value="cats"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Turtles</ion-label>
        <ion-radio slot="end" value="turtles"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Fish</ion-label>
        <ion-radio slot="end" value="fish"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list></p>
  <h1>&nbsp; <b><u>5. RANGO</u></b></h1>
  
  <p><ion-range>
    <ion-icon slot="start" name="snow-outline"></ion-icon>
    <ion-icon slot="end" name="sunny-outline"></ion-icon>
  </ion-range>
  <ion-range [dualKnobs]="true" [value]="{ lower: 20, upper: 80 }"></ion-range>

</p>
  <h1>&nbsp; <b><u>6. PICKER</u></b></h1>
 
  <p><ion-button (click)="openPicker()">Open</ion-button></p>

</ion-content>
