<ion-menu [type]="menuType" contentId="contenido">
  <ion-header>
    <ion-toolbar>
      <ion-title>Contenido del menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">

    <ion-list>
      <ion-item *ngFor="let pagina of paginas" [color]="pagina.color" [routerLink]="pagina.ruta" detail>
        <ion-icon slot="start" [name]="pagina.icono"></ion-icon>
        {{pagina.nombre}}
      </ion-item>
    </ion-list>

  </ion-content>
</ion-menu>


<div id="contenido">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>



  <ion-content class="ion-padding">
    <ion-menu-toggle>
      <ion-button>Click to open the menu</ion-button>
    </ion-menu-toggle>
  </ion-content>
</div>
